<mat-horizontal-stepper [linear]="true">
  
  <!-- Step 1: General info -->
  <mat-step [stepControl]="generalGroup">
    <ng-template matStepLabel>General ad information</ng-template>
    <ad-step-general
      [form]="generalGroup"
      [categories]="categories"
      [uploadedFiles]="uploadedFiles"
      (fileSelected)="onFileSelected($event)"
      (fileRemoved)="removeFile($event)"
    ></ad-step-general>
  </mat-step>

  <!-- Step 2: Address -->
  <mat-step [stepControl]="addressGroup">
    <ng-template matStepLabel>Address selection</ng-template>
    <ad-step-address
      [formGroup]="addressGroup"
    ></ad-step-address>
  </mat-step>

  <!-- Step 3: Property details -->
  <mat-step [stepControl]="detailsGroup">
    <ng-template matStepLabel>Property details</ng-template>
    <ad-step-details
      [formGroup]="detailsGroup"
      [servicesList]="servicesList"
      (serviceToggle)="onServiceToggle($event.id, $event.checked)"
    ></ad-step-details>
  </mat-step>

  <!-- Step 4: Recap -->
  <mat-step>
    <ng-template matStepLabel>Recap</ng-template>
    <ad-step-recap
      [generalGroup]="generalGroup"
      [addressGroup]="addressGroup"
      [detailsGroup]="detailsGroup"
      [uploadedFiles]="uploadedFiles"
      [uploadedFileUrls]="uploadedFileUrls"
      [currentImageIndex]="currentImageIndex"
      (prevImage)="prevImage()"
      (nextImage)="nextImage()"
      (imageSelected)="currentImageIndex.set($event)"
      (publish)="onPublish()"
      (discard)="onDiscard()"
    ></ad-step-recap>
  </mat-step>
</mat-horizontal-stepper>
