.autocomplete-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 600px;
  z-index: 1000;
}

.autocomplete-container {
    position: relative;
}

/*

.autocomplete-container {
    position: relative;
}

*/