<form [formGroup]="form" class="grid sm:grid-cols-2 gap-4">
  <div class="sm:col-span-2">
    <label for="category" class="block text-sm mb-1 dark:text-slate-200"
      >Categoria</label
    >
    <select id="category" class="input_main" formControlName="category">
      <option value="SALE">Vendita</option>
      <option value="RENT">Affitto</option>
    </select>
  </div>

  <div class="sm:col-span-2">
    <label for="description" class="block text-sm mb-1 dark:text-slate-200"
      >Descrizione</label
    >
    <textarea
      id="description"
      class="input_main min-h-28"
      formControlName="description"
      placeholder="Descrivi l'immobile..."
    ></textarea>
    @if (form.controls.description.touched && form.controls.description.invalid)
    {
    <p class="text-sm text-red-600 mt-1">Minimo 3 caratteri</p>
    }
  </div>

  <div class="w-full col-span-2 flex justify-between gap-2 sm:px-20 mdpx_10 px-8">
    <button class="discard_button" type="button" (click)="discard()">Elimina</button>
    <button class="btn_primary" type="button" (click)="next()">Avanti</button>
  </div>
</form>
