<section class="grid lg:grid-cols-3 gap-6">
  <form [formGroup]="utilitiesForm" class="grid gap-3 lg:col-span-1">
    <h3 class="font-semibold">Servizi</h3>
    <label class="flex items-center gap-2">
      <input type="checkbox" formControlName="hasElevator" /> Ascensore
    </label>
    <label class="flex items-center gap-2">
      <input type="checkbox" formControlName="hasDoorman" /> Portiere
    </label>
    <label class="flex items-center gap-2">
      <input type="checkbox" formControlName="hasAirConditioning" /> Aria
      condizionata
    </label>
  </form>

  <div class="grid gap-3 lg:col-span-2">
    <h3 class="font-semibold">Posizione</h3>

    <!-- Mappa interattiva -->
    <div class="relative rounded-xl overflow-hidden border h-96">
      <app-map
        (latitudeChange)="updateLatitude($event)"
        (longitudeChange)="updateLongitude($event)"
        [isNotEditable]="false"
      />
    </div>

    <form [formGroup]="positionForm" class="grid sm:grid-cols-2 gap-4">
      <div class="flex justify-start items-start gap-5">
        @if(this.submitted && this.latitude?.invalid){
          @if(this.latitude?.hasError('required')){
            <h3 class="form_error">Latitude is required</h3>
          }
        }
        @if(this.submitted && this.longitude?.invalid){
          @if(this.longitude?.hasError('required')){
            <h3 class="form_error">Longitude is required</h3>
          }
        }
        </div>
    </form>

    <div class="flex justify-between gap-2 mt-2">
      <button class="btn_primary" type="button" (click)="next()">Avanti</button>
      <button class="btn_primary" type="button" (click)="previous()">Indietro</button>
    </div>
  </div>
</section>
