<!--
<!DOCTYPE HTML>
<html>
	<head>
		<title>Login OAuth2 client</title>
	</head>
	<body>
		<h1>OAuth2 login with spring security</h1>
		<div>
			You are successfully logged in <span style="font-weight:bold" th:text="${userName}"></span>
		</div>
	</body>
</html>
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Response page</title>
	</head>
	<body>
		<h1>Endpoints</h1>
		<h2>Private</h2>
		<ul>
			<li>
				<a th:href="@{/messages}">Private</a>
				endpoint where google auth is required
			</li>
		</ul>
		<h2>Public</h2>
		<ul>
			<li>
				<a th:href="@{/public/messages}">Public</a>
					endpoint where no auth required
				</li>
			</ul>
	</body>
</html>