<div class="filters">
  <button class="filter-btn">Contract ⌄</button>
  <button class="filter-btn">Estate ⌄</button>
  <button class="filter-btn">Rooms ⌄</button>
  <button class="filter-btn">Price ⌄</button>
</div>

<div class="search-box">
  <input
    type="text"
    [(ngModel)]="location"
    placeholder="Your desired location goes here"
  />
  @if (location) {
  <ul>
    @for (suggestion of filteredSuggestions; track suggestion) {
    <li>
      {{ suggestion }}
    </li>
    }
  </ul>
  }
</div>
