:host {
  display: block;
  height: 100%;
  width: 100%;
}

.de-leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 16px;
}
.de-popup {
  width: 260px;
}
.de-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px;
}
.de-addr {
  font-size: 12px;
  opacity: 0.8;
}
.de-price {
  margin-top: 10px;
  font-weight: 800;
  font-size: 16px;
}
.de-btn {
  margin-top: 12px;
  width: 100%;
  border-radius: 12px;
  padding: 8px 10px;
  font-weight: 700;
  background: #d97706;
  color: white;
  border: 0;
  cursor: pointer;
}
.de-btn:hover {
  filter: brightness(0.95);
}

.de-leaflet-popup {
  // Rimuovi padding e rendi trasparente il wrapper
  .leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
    border-radius: 0.75rem; // rounded-xl
    background: transparent;
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  // Gestione contenuto interno
  .leaflet-popup-content {
    margin: 0 !important;
    width: 280px !important;
  }

  // Colore della punta
  .leaflet-popup-tip {
    background: white;
  }

  // Nascondi la X di chiusura
  .leaflet-popup-close-button {
    display: none;
  }
}