<form [formGroup]="formGroup" class="step-form">
    <h1 class="genral-title">General Informations</h1>

  <!-- UPLOAD FOTO VECCHIO 
  <label for="fileUpload" class="file-upload-label">
    <div class="file-dropzone">
      <mat-icon>cloud_upload</mat-icon>
      <span>Drag & drop or Browse</span>
    </div>
  </label>
  <input
    id="fileUpload"
    type="file"
    accept=".jpg, .jpeg, .png"
    multiple
    (change)="fileSelected.emit($event)"
    style="display: none"
  />
  -->
  <!-- UPLOAD FOTO -->
  <label for="fileUpload" class="file-upload-label">
    <div class="file-dropzone">
      <mat-icon>cloud_upload</mat-icon>
      <span>Drag & drop or Browse</span>
    </div>
  </label>
  <input
    id="fileUpload"
    type="file"
    accept=".jpg, .jpeg, .png"
    multiple
    (change)="selectFiles()"
    style="display: none"
  />

  <!-- VECCHIO, pre refactoring
  @if (uploadedFiles.length > 0) {
  <div class="uploaded-list">
    <mat-icon>photo</mat-icon>
    @for (f of uploadedFiles; track f) {
    <span>
      {{ f.name }}
      <button mat-icon-button (click)="fileRemoved.emit($index)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </span>
    }
  </div>
  }
  -->
  @if (uploadedFiles.length > 0) {
  <div class="uploaded-list">
    <mat-icon>photo</mat-icon>
    @for (file of uploadedFiles; track $index) {
    <span>
      {{ file.name }}
      <button mat-icon-button (click)="sendFileRemoved($index)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </span>
    }
  </div>
  }

  <!-- PRICE -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" type="number" />
    @if (formGroup.get('price')!.hasError('required')) {
    <mat-error> Price is required </mat-error>
    } @if (formGroup.get('price')!.hasError('min')) {
    <mat-error> Price must be ≥ 0 </mat-error>
    }
  </mat-form-field>

  <!--Vecchio, precedente refactoring
  -->
  <!-- CATEGORY -->
  <div class="category-group">
    <label>Category:</label>
    <mat-radio-group formControlName="category">
      @for (c of categories; track c) {
      <mat-radio-button [value]="c">
        {{ c | titlecase }}
      </mat-radio-button>
      }
    </mat-radio-group>
  </div>
  @if (formGroup.get('category')!.hasError('required')) {
  <mat-error> Category is required </mat-error>
  }

  <!-- DESCRIPTION -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="4"></textarea>
    @if (formGroup.get('description')!.hasError('required')) {
    <mat-error> Description is required </mat-error>
    } @if (formGroup.get('description')!.hasError('minlength')) {
    <mat-error> Minimum 10 characters </mat-error>
    }
  </mat-form-field>
</form>
