:host {
  display: block;      /* Assicura che il componente occupi spazio */
  height: 100%;        /* Occupa tutto lo spazio disponibile del parent */
}

mgl-map {
    width: 100%;
    height: 75vh;       /* Almeno 400px di altezza, oppure 100vh se vuoi fullscreen */
    position: relative;  /* (opzionale) per gestire overlay */
}